
<div id="headerWrapper">
        <a href="/">Logo</a>

        <div class="formWrapper">
        <form action="/katalog" class="homeForm">
            <input id="searchInp" type="search" autocomplete="off" spellcheck="false" name="q" placeholder="Suche">
        </form>
    
    </div>
        <a id="ham" href="/sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"viewBox="10 -70 100 140" preserveAspectRatio="xMidYMid meet" >
                <path d="M0 2h120" id="a" stroke-width="8" stroke="#212121" />
                <path d="M0 26h120" id="b" stroke-width="8" stroke="#212121" />
                <path d="M0 50h120" id="c" stroke-width="8" stroke="#212121" />
            </svg>
        </a>
</div>

<!-- <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"viewBox="10 -70 100 140" preserveAspectRatio="xMidYMid meet" >
    <path d="M0 2h120" id="a" stroke-width="8" stroke="#212121" />
    <path d="M0 26h120" id="b" stroke-width="8" stroke="#212121" />
    <path d="M0 50h120" id="c" stroke-width="8" stroke="#212121" />
</svg> -->


    

