<div id="sidebarW">
        <div id="topics">
            <p class="sCat" data-n="damen">DAMEN</p>
            <p class="sCat" data-n="herren">HERREN</p>
            <p class="sCat" data-n="kinder">KINDER</p>
        </div>


        <script defer src="/js/sidebar.js"></script>
    </div>