<div id="sidebarW">
    <svg width="25" height="25" id="clo" viewBox="0 0 76 76">
        <path fill="none" stroke="#feffff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="13"
            d="M2 2l72 72M2 74L74 2" />
    </svg>
    <div id="topics">
        <p class="sCat" data-n="damen">DAMEN</p>
        <p class="sCat" data-n="herren">HERREN</p>
        <p class="sCat" data-n="kinder">KINDER</p>
    </div>
    <div id="sideItems">
            <ul id="list">

            </ul>
    </div>

    <script defer src="/js/sidebar.js"></script>
</div>