<div id="catWrapper">
        <a class="cText" href="#">promotion</a>
        <a class="cText" href="#">dress time</a>
        <a class="cText" href="#">timeless</a>
        <a class="cText" href="#">denim</a>
        <a class="cText" href="#">mum</a>
        <a class="cText" href="#">street</a>
        <a class="cText" href="#">all time</a>
        <a class="cText" href="#">essential</a>
        <a class="cText" href="#">classic</a>
        </div>