<div id="catWrapper">
        <a href="#">promotion</a>
        <a href="#">dress time</a>
        <a href="#">timeless</a>
        <a href="#">denim</a>
        <a href="#">mum</a>
        <a href="#">street</a>
        <a href="#">all time</a>
        <a href="#">essential</a>
        </div>