* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
html {
    font-family: 'Kodchasan', sans-serif;
    font-size: 13px;
}

@media only screen and (max-width:600px) {
    body {
        background-color: #EBC1C1;
      
    }

    .header {
        width: 100%;
        height: 100%;
        grid-area: header;
        background-color: #EBC1C1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

            #ham{
                // border: 1px solid red;
               
            }

            #searchInp{
                border: 2px solid #EBC1C1;
                background-color: #EBC1C1;
                // -webkit-appearance: none;
                text-align: center;
                outline:none;
                border-bottom: 2px solid black !important;
                        
            }
            ::placeholder{
                
                font-family: 'Kodchasan', sans-serif;
            }
           
    }
    .categories{
        grid-area: categories;
        width:150vw;

        #catWrapper{
            height: 100%;   
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            a{
                color: black;
               
            }
        }
       
       
        

    }

  
    .content {
        grid-area: content;
        background-color: #EBC1C1;
       
            #carusselImg{
                margin-top: 1%;
                display: flex;
                position: relative;
                height:80vh;
                width:500%;
               
                    a{
                        width:100%;
                        height: 100%;
                        
                            img{
                                height: 100%;
                                width:100%;
                                object-fit: cover;
                            }
                    }
            }
            
       
    }
    .footer {
        grid-area: footer;
        background-color: #EBC1C1;
       
    }

    #errorPage{
        background-color: black !important;
        height: 100vh;
        font-size: 20px;
    }

    .wrapper {
        height: 100vh;
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 8% 3% 200% 10%;
        grid-template-areas: 

        "header"
        "categories"
        "content "
        "footer"
    }
   

}

