<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/style/main.css">
<script src="/js/anim.js" defer></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <p>sdkdskldskdlsdjds</p>
    <div class="wrapper">

        <div class="header">
                <%- include("./includes/header.ejs") %>
        </div>
        <div class="categories">
                <%- include("./includes/Textcarussel.ejs") %>
                <
        </div>
        <div class="content ">

          

        </div>
        <div class="footer"></div>

    </div>

</body>

</html>