<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/style/prodPage.css">
</head>

<body>
        <div class="header">
                <%- include("./includes/header.ejs") %>
            </div>
        
    <div id="mPicWrapper">

    </div>
    <div id="ThumbPicWrapper">
        <!-- <a href="#"><img src="#" alt="#"></a> -->
    </div>
    <div id="listWrapper">
        <ul>
 
        </ul>
    </div>
    <div id="addToCart">

    </div>
       
</body>

</html>