<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/style/prodPage.css">
</head>

<body>
    <div class="header">
        <%- include("./includes/header.ejs") %>
    </div>
    <div id="mPicWrapper">

       <h1>test</h1>
    </div>

</body>

</html>